@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  font-size: 20px;
  font-weight: 700;
  font-family: "Fredoka";
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(0,0,0,1) 41%, rgba(255,0,0,1) 100%);
  justify-content: space-evenly;
}

.before_logo, .after_logo {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.before_logo {
  position: relative;
  left: 10px;
}

.after_logo {
  position: relative;
  right: 10px;
}

.before_logo a {
  margin-top: 10px;
  color: red;
}

.after_logo a {
  margin-top: 10px;
  color: black;
}

.before_logo a:hover{
  border-bottom: 4px solid red;
}

.after_logo a:hover{
  border-bottom: 4px solid black;
}

.logo {
  width: 120px;
  height: 120px;
  margin-top: 60px;
  text-align: center;
}


.after_logo a, .before_logo a {
  text-decoration: none;
  display: inline-block;
  height: 4vh;
  width: 8vw;
  text-align: center;
}

.logo:hover .club_logo{
  display: none;
}
.logo:hover .lviv_logo{
  display: inline;
}

.dropdown_content {
  display: none;
  position: absolute;
  left: 0px;
  bottom: -96px;
  background: linear-gradient(90deg, rgba(108,0,0,1) 0%, rgba(143,0,0,1) 99%);
  width: 154px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown_content ul{
  list-style: none;
}

.dropdown_content ul li a{
  color: rgb(0, 0, 0);
}

.last{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drop:hover .dropdown_content{
  display: inline-block;
}

.club_logo {
  width: 80%;
  height: 100%;
}

.lviv_logo {
  display: none;
  width: 80%;
  height: 100%;
}

main {
  width: 100vw;
  margin-top: 200px;
  height: 750px;
  font-size: 22px;
  font-family: "Fredoka";
  font-weight: 600;
}

.union_pointer {
  text-align: center;
  color: rgba(255,0,0,1);
}

.info {
  display: inline-block;
  width: 420px;
  height: 400px;
  position: relative;
  bottom: 40px;
  left: 300px;
  text-align: center;
}

.nabir {
  display: inline-block;
  position: relative;
  height: fit-content;
  width: fit-content;
  left: 600px;
  top: 40px;
}

.nabir_img {
  width: 630px;
  height: 500px;
}

.info h1 {
  margin: 10px;
  margin-bottom: 0;
}
.info p {
  margin: 10px;
  margin-top: 0;
}

.find_more {
  width: 100px;
  height: 40px;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
  border: none;
  border-radius: 12px;
  margin-top: 20px;
}

.find_more a{
  text-decoration: none;
  color: white;
}

.find_more:hover a .arrow, .right{
  display: inline-block;
}

.black {
  color: black;
}

.arrow {
  display: none;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  display: none;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.gallery{
  margin-top: 100px;
  height: 800px;
  text-align: center;
}

.gallery_pointer {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(255,0,0,1);
}

.slider {
  width: 1800px;
  height: 1200px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.photo {
  /* display: none; */
  width: 500px;
  height: 300px;
  margin: 30px 40px;
  border: 3px solid black;
  border-radius: 10px;
  background: #fafafa;
  /* box-shadow:  24px -24px 22px #a3a3a3,
             -24px 24px 22px #ffffff; */
}

.photo:active {
  transform: scale(1.4);
}

#remove:active{
  margin-bottom: 100px;
}

#photo_button {
  width: 200px;
  position: relative;
  bottom: 20px;
}

.about {
  margin-top: 600px;
  width: 100%;
  text-align: center;
  height: 600px;
}

.about_image {
  display: inline-block;
  position: relative;
  left: 50px;
  top: 60px;
  width: 400px;
  height: 400px;
}

.about_main {
  display: inline-block;
  height: 400px;
  position: relative;
  left: 200px;
  text-align: start;
}

.about_main ul{
  list-style-type: square;
}

.about_pointer {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(255,0,0,1);
}

.red {
  color: red;
  margin-left: 50px;
  font-size: 24px;
  margin-bottom: 5px;
}

.news {
  margin-top: 100px;
  width: 100%;
  height: 800px;
  text-align: center;
}

.news_pointer {
  text-align: center;
  color: rgba(255,0,0,1);
}

.news_slider {
  margin-top: 30px;
  margin-left: 50px;
  width: 1800px;
  height: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  height: 700px;
  width: 570px;
  margin: 10px 30px;
}

#news_button {
  position: relative;
  bottom: 20px;
  width: 200px;
}
.stuff_pointer {
  text-align: center;
  color: rgba(255,0,0,1);
}

.stuff {
  margin-top: 960px;
  height: fit-content;  
}


.trainers {
  width: 1800px;
  height: 1800px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

.trener, .win {
  margin: 20px;
  border-bottom: 2px solid black;
  border-radius: 10px;
}

.winners {
  width: 1800px;
  height: 1600px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

.halls {
  margin-top: 80px;
  text-align: center;
}

.halls_pointer {
  margin-top: 100px;
  text-align: center;
  color: rgba(255,0,0,1);
}

.item-container {
  margin: 20px;
  margin-top: 50px;
  margin-left: 50px;
  width: 1800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item {
  margin: 20px 40px;
  height: 550px;
  width: 420px;
  font-size: 18px;
  text-align: center;
}


.low-weight {
  font-weight: 400;
  font-style: normal;
  color: rgb(83, 83, 83);
  text-align: center;
}

.addr {
  margin: 10px;
  height: 90px;
  width: 380px;
  margin-left: 20px;
}

.contacts {
  margin-top: 100px;
  height: 500px;
}
.contacts_pointer {
  margin-top: 50px;
  text-align: center;
  color: rgba(255,0,0,1);
}

.contacts_container {
  padding-top: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.icons a {
  display: inline-flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 40px;
  margin-right: 10px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  background-size: 100% 200%;
  background-position: 0% 5%;
}

.icons a:nth-child(1) {
  color: rgb(3, 44, 99);
  background-image: linear-gradient(#fff 50%, rgb(3, 44, 99) 50% );
}

.icons a:nth-child(2) {
  color: rgb(53, 109, 213);
  background-image: linear-gradient(#fff 50%, rgb(53, 109, 213) 50% );
}

.icons a:nth-child(3) {
  color: rgb(179, 12, 12);
  background-image: linear-gradient(#fff 50%, rgb(179, 12, 12) 50% );
}

.icons a:nth-child(4) {
  color: black;
  background-image: linear-gradient(#fff 50%, black 50% );
}

.icons a:hover {
  color: white;
  background-position: 0% 100%;
  transition: background-position 0.5s, color 0.5s;
}

.fot_container {
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  width: 900px;
  margin-left: 520px;
  justify-content: space-around;
}

.fot_item {
  width: 100px;
  display: inline-block;
}

.fot_item a{
  text-decoration: none;
  color: black;
}

.fot_item:hover a{
  color: red;
}